main {
  margin: 0 auto;
  max-width: 90%;
}
:root {
  --primary: #47aef3;
  --secondary: #47aef3;
  --tertiary: #b12704;
  --light: #ffffff;
  --dark: #474747;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: #d6d8d8;
  color: var(--light);
}

main {
  color: var(--darker);
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darker);
}

nav li a {
  cursor: pointer;
  font-style: italic;
  border-top: 2px solid var(--darker);
  border-bottom: 2px solid var(--darker);
  padding: 5px;
  transition: all 1s;
  font-size: 1rem;
  text-decoration: none;
  color: var(--light);
}

.nav li a:hover {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  color: #ffffff;
  text-decoration: none;
}

.logo {
  width: 200px;
}

.login {
  position: relative;
  top: 1.5vh;
}

footer {
  background: var(--darker);
  position: realtive;
  bottom: 0;
  width: 100%
}

footer h2 {
  font-size: 1.2rem;
}

footer p {
  font-size: 0.8rem;
}

footer li {
  font-size: 0.8rem;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: var(--darker);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.navActive {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}
